.dialogs {
    display: grid;
    grid-template-columns: auto 1px 10fr;
    height: 100%;
}

.dialogs__items {
    margin: 10px 30px 30px 30px;
    min-width: 200px;
}

.border {
    border-right: 1px solid #6767e0;
    border-left: 1px solid #6767e0;
    margin: 31.6px 0px 30px 0;
    border-radius: 10px;
}

.messages {
    padding: 31.6px 30px 30px 30px;
    min-height: 250px;
}

.header {
    display: block;
    width: 100%;
    text-align: center;
}

.messageBox textarea {
    width: 100%;
}

.messageBox button {
    float: right;
    width: 100px;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
}