.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  position: relative;
  /* width: 100%; */
}

.col:first-child {
  height: 200px;
  border: 5px solid #515151;
  margin: 1em 2em;
  overflow: hidden;
}

.col:first-child img {
  width: 900px;
  height: 150%;
}

.col__other {
  -ms-flex: 1 0 0;  
  flex: 1 0 0;
  min-width: 300px;
  padding: 1em;
}