.auth {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inputForm {
    margin: 15px 40px;
    text-align: center;
    width: 300px;
}

.inputForm input {
    padding: 10px;
    width: 100%;
    color: #000;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
}

.inputForm input[type="text"]:focus, .inputForm input[type="password"]:focus {
    border: 1px solid #0fc3f5;
}

.inputForm input[type="submit"] {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #6767e0;
    transition: .3s;
    width: 145px;
    min-width: 145px;
}

.inputForm input[type="submit"]:first-child {
    margin-right: 10px;
}

.inputForm input[type="submit"]:hover {
    background: #4442db;
}

.login button {
    display: block;
    border: none;
    background: none;
    padding: 0 0 30px;
    text-align: center;
    color: #000;
    transition: .3s;
}

.inputForm select {
    width: 300px;
    padding: 10px;
    font-size: 20px;
}