.profile {
  display: grid;
  gap: 10px;
  grid-template-columns: 50%;
  grid-template-areas: "profileInfo posts"; 
}

.profileInfo {
  grid-area: "profileInfo";
  min-width: 300px;
  padding: 1em 2em;
  align-self: center;
  display: grid;
  justify-content: center;
}

/* ProfileInfo */

.infoPanel {
  display: grid;
  grid-template-areas: 
   "avatar mainInfo"
   "contacts contacts";
}

.avatar {
  grid-area: avatar;
  width: 240px;
}

.avatar img {
  max-height: 300px;
  max-width: 240px;
}

.mainInfo {
  grid-area: mainInfo;
}

.contacts {
  grid-area: contacts;
}