.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  grid-template-areas:
    "header header"
    "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.app-wraper-content {
  grid-area: content;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}

textarea {
  /* display:block; */
  resize: none;
  box-sizing: border-box;
  /* margin:0 auto;
  outline:none;
  border-width:2px;
  border-radius:2px;
  font-size:18pt;
  text-align:center;
  background:#ecf0f1;
  color:rgb(52, 73, 94); */
}