.message img {
    height: 40px;
    border-radius: 50px;
}

.message {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    column-gap: 15px;
    row-gap: 5px;
    align-items: center;
    word-break: break-all;
}

.message__text {
    grid-area: message__text;
}

.avatar {
    grid-area: avatar;
}

.name {
    grid-area: name;
}

.immessage {
    text-align: end;
    grid-template-columns: auto 40px;
    grid-template-areas: 
    "name avatar"
    "message__text avatar";
}

.compmessage {
    text-align: start;
    grid-template-columns: 40px auto;
    grid-template-areas: 
    "avatar name"
    "avatar message__text";
}

.message span {
    height: 100%;
}